.modelos-3d {
    width: 100%;
    margin-top: 80px;
    padding: 40px 0;
    text-align: center;
}

.modelos-3d h2 {
    color: #33291f;
    font-size: 30px;
    margin-bottom: 10px;
}

.modelos-3d p {
    color: #6d6258;
    font-size: 16px;
    margin-bottom: 25px;
}

.visualizador-3d {
    width: 900px;
    max-width: 90%;
    height: 600px;
    margin: auto;

    background: #f5f2ed;
    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

.visualizador-3d model-viewer {
    width: 100%;
    height: 100%;
}

/* =========================================
   CONTROLE DE MEDIDA
   ========================================= */

.controle-medida {
    width: 700px;
    margin: 20px auto 0;
}

.controle-medida-topo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 8px;

    font-size: 16px;
    font-weight: 600;
}

#valor-altura {
    font-weight: 700;
}


/* =========================================
   BARRA Altura
   ========================================= */

#barra-altura {
    width: 100%;
    height: 6px;

    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;

    background: #ccc;
    border-radius: 10px;
}


/* BOLINHA - CHROME / EDGE */

#barra-altura::-webkit-slider-thumb {

    appearance: none;
    -webkit-appearance: none;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: #333;

    cursor: pointer;
}


/* BOLINHA - FIREFOX */

#barra-altura::-moz-range-thumb {

    width: 20px;
    height: 20px;

    border: none;
    border-radius: 50%;

    background: #333;

    cursor: pointer;
}

/* =========================================
   BARRA Largura
   ========================================= */

#barra-largura {
    width: 100%;
    height: 6px;

    cursor: pointer;

    appearance: none;
    -webkit-appearance: none;

    background: #ccc;
    border-radius: 10px;
}


/* BOLINHA - CHROME / EDGE */

#barra-largura::-webkit-slider-thumb {

    appearance: none;
    -webkit-appearance: none;

    width: 20px;
    height: 20px;

    border-radius: 50%;

    background: #333;

    cursor: pointer;
}


/* BOLINHA - FIREFOX */

#barra-largura::-moz-range-thumb {

    width: 20px;
    height: 20px;

    border: none;
    border-radius: 50%;

    background: #333;

    cursor: pointer;
}

/* Profundidade */

.opcoes-profundidade {
    display: flex;
    gap: 8px;
}

.opcoes-profundidade button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
}

.opcoes-profundidade button.selecionado {
    background: #ddd;
    border-color: #333;
}